[submodule "Scardice-ui"]
	path = Scardice-ui
	url = https://github.com/Scardice/Scardice-ui
[submodule "sealdice-builtins"]
	path = sealdice-builtins
	url = https://github.com/sealdice/sealdice-builtins
